			<h1>Treatments</h1>
{{range $category := .}}
			<h3>{{$category.Name}}</h3>
			<ul class="productView">
{{range $treatment := .Treatments}}				<li>
					<a href="?id={{$treatment.ID}}">{{$treatment.Name}}</a>
					<span>&#163;{{price $treatment.Price}}</span>
					<form action="book.html" method="post">
						<input type="hidden" name="id" value="{{$treatment.ID}}">
						<input type="submit" value="Book Treatment" />
					</form>
					<form action="basket.html" method="post">
						<input type="hidden" name="id" value="{{$treatment.ID}}">
						<input type="submit" value="Buy Voucher" />
					</form>
				</li>
{{end}}			</ul>
{{end}}
