{{define "title"}}CARM Essential - Contact{{end}}
{{define "style"}}registration{{end}}
{{define "body"}}
				<form action="?" method="post">
					<label for="name">Name*</label><input type="text" id="name" name="name" value="{{.Name}}" />{{if .Errors.name}}<div class="error">{{.Errors.name}}</div>{{end}}<br />
					<label for="email">Email Address*</label><input type="email" id="email" name="email" value="{{.Email}}" />{{if .Errors.email}}<div class="error">{{.Errors.email}}</div>{{end}}<br />
					<label for="phone">Phone Number</label><input type="text" id="phone" name="phone" value="{{.Phone}}" />{{if .Errors.phone}}<div class="error">{{.Errors.phone}}</div>{{end}}<br />
					<label for="subject">Subject*</label><input type="text" id="subject" name="subject" value="{{.Subject}}" />{{if .Errors.subject}}<div class="error">{{.Errors.subject}}</div>{{end}}<br />
					<label for="message">Message</label><textarea id="message" name="message">{{.Message}}</textarea>{{if .Errors.message}}<div class="error">{{.Errors.message}}</div>{{end}}<br />
					<input type="submit" value="Send" />
				</form>
{{end}}
