To: {{.Email}}
From: {{.From}}
Subject: Message Recieved
MIME-Version: 1.0
Content-Type: multipart/alternative; boundary=boundary

--boundary
Content-Type: text/plain; charset=utf-8

Name: {{.Name}}
Email: {{.Email}}
Phone: {{.Phone}}
Subject: {{.Subject}}
Message: {{.Message}}

--boundary
Content-Type: text/html; charset=utf-8

<h2>Message Received</h2>

<table border="0">
	<tbody>
		<tr>
			<td>Name:</td><td>{{.Name}}</td>
		</tr>
		<tr>
			<td>Email:</td><td><a href="mailto:{{.Email}}">{{.Email}}</a></td>
		</tr>
		<tr>
			<td>Phone:</td><td><a href="tel:{{.Phone}}">{{.Phone}}</a></td>
		</tr>
		<tr>
			<td>Subject:</td><td>{{.Subject}}</a></td>
		</tr>
		<tr>
			<td>Message:</td><td><pre>{{.Message}}</pre></td>
		</tr>
	</tbody>
</table>

--boundary--
