{{define "title"}}CARM Essential - Admin - Categories{{end}}
{{define "style"}}admin{{end}}
{{define "body"}}			<h2>Categories</h2>
			<form action="?" method="post">
				<input type="submit" name="set" value="+" />
			</form>
			<br />{{if .}}
			<form action="?" method="post">
				<select name="id">
{{range $cat := .}}				<option value={{$cat.ID}}>{{$cat.Name}}</option>
{{end}}				</select>
				<input type="submit" name="set" value="Edit" />
				<input type="submit" name="delete" value="&#10062;" />
			</form>{{end}}{{end}}
