{{define "title"}}CARM Essential - Admin{{end}}
{{define "style"}}admin{{end}}
{{define "sidebar"}}
			<ul>
				<li><a href="categories.html">Category Editor</a></li>
				<li><a href="config.html">Configuration Editor</a></li>
				<li><a href="templates.html">Reload Templates</a></li>
			</ul>
{{end}}
