{{define "title"}}CARM Essential - Admin - Reload Templates{{end}}
{{define "style"}}admin{{end}}
{{define "body"}}{{if .Updated}}{{if eq .Error ""}}
				<h2>Templates Reloaded!</h2>
				<a href="/admin/">Go Back</a>
{{else}}
				<h2>Reload Failed!</h2>
				<div class="error">{{.Error}}</div>
{{end}}{{else}}
				<h2>Reload Templates</h2>
				<form action="?" method="post">
					<input type="submit" name="reload" value="Reload" />
				</form>
{{end}}{{end}}
